@import url("_variables.css");

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--background);
  color: var(--grey01);
}
